[submodule "interact"]
	path = apple/dependencies/interact
	url = git@github.com:jbmorley/interact.git
[submodule "scripts/changes"]
	path = scripts/changes
	url = https://github.com/jbmorley/changes.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = https://github.com/jbmorley/build-tools.git
[submodule "diligence"]
	path = apple/dependencies/diligence
	url = git@github.com:inseven/diligence.git
[submodule "FilePicker"]
	path = apple/dependencies/FilePicker
	url = git@github.com:jbmorley/FilePicker.git
[submodule "HashRainbow"]
	path = apple/dependencies/HashRainbow
	url = git@github.com:jbmorley/HashRainbow.git
[submodule "DIFlowLayout"]
	path = apple/dependencies/DIFlowLayout
	url = git@github.com:jbmorley/DIFlowLayout.git
[submodule "scripts/Sparkle"]
	path = scripts/Sparkle
	url = https://github.com/sparkle-project/Sparkle
[submodule "docs/_theme"]
	path = docs/_theme
	url = https://github.com/jbmorley/showcase-theme.git
