[submodule "interact"]
	path = interact
	url = git@github.com:jbmorley/interact.git
[submodule "scripts/changes"]
	path = scripts/changes
	url = git@github.com:jbmorley/changes.git
[submodule "scripts/build-tools"]
	path = scripts/build-tools
	url = git@github.com:jbmorley/build-tools.git
[submodule "diligence"]
	path = diligence
	url = git@github.com:inseven/diligence.git
[submodule "FilePicker"]
	path = FilePicker
	url = git@github.com:jbmorley/FilePicker.git
[submodule "HashRainbow"]
	path = HashRainbow
	url = git@github.com:jbmorley/HashRainbow.git
[submodule "DIFlowLayout"]
	path = DIFlowLayout
	url = git@github.com:jbmorley/DIFlowLayout.git
